.forecast .box {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 700px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #949494;
  border-radius: 460px;
  box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.35);
 
}

.forecast-text {
  color: #060606;
}

.todays-forecast {
  text-align: center;
}

.todays-forecast {
  margin-bottom: 40px;
  text-align: center;
}

.city-name {
  display: block;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 auto 40px;
  padding: 22px;
}

.conditions {
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: -10px;
}

.todays-icon {
  font-size: 62px;
  margin-right: 5px;
  position: relative;
  top: -12px;
}

.todays-temp {
  font-size: 92px;
  font-weight: 300;
  margin-bottom: 0;
}

.units {
  position: relative;
  top: -50px;
  font-size: 18px;
  font-weight: 300;
}

.humidity,
.wind-speed {
  font-size: 28px;
  font-weight: 200;
  margin-top: 35px;
}

.humidity-icon,
.wind-icon {
  font-size: 34px;
  position: relative;
  top: 4px;
}

.unit {
  display: inline;
  margin: 0 auto;
  font-size: 13px;
  font-style: italic;
  color: #e0e0e0;
}

.unit a {
  display: inline;
  margin: 0 auto;
  font-size: 13px;
  font-style: italic;
  color: #e0e0e0;
  text-decoration: none;
}

.temp-units {
  margin: 0px;
  position: relative;
  font-size: 15px;
  top: -20px;
}
