.forecast .box {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 700px;
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: #0d86dd;
  border-radius: 460px;
  box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
}

.forecast-text {
  color: #edf344;
}

.todays-forecast {
  text-align: center;
}

.todays-forecast {
  margin-bottom: 14px;
}

.city-name {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 48px;
  padding: 22px;
}

.conditions {
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: -10px;
}

.todays-icon {
  position: relative;
  top: -12px;
  margin-right: 5px;
  font-size: 62px;
}

.todays-temp {
  font-size: 92px;
  margin-bottom: 0px;
  font-weight: 300;
}

.units {
  position: relative;
  top: -50px;
  font-size: 18px;
  font-weight: 300;
}

.humidity,
.wind-speed {
  margin-top: 35px;
  font-size: 28px;
  font-weight: 200;
}

.humidity-icon,
.wind-icon {
  position: relative;
  top: 4px;
  font-size: 34px;
}

.cel-to-far {
  display: inline;
  margin: 0 auto;
  font-size: 13px;
  font-style: italic;
  color: #edf344;
}

.far-to-cel {
  display: inline;
  margin: 0 auto;
  font-size: 13px;
  font-style: italic;
  color: #edf344;
}

.temp-units {
  font-size: 15px;
  margin-top: -10px;
}
